#body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: auto;
    position: relative;
    margin: auto;
    list-style-type: circle;
    border: 2px solid black;
    padding-left: 50px;
}

ul.a {
    list-style-type: circle;
}
a{
    color : blue;
    font-size: 20px;
}
#tag{
    font-size: small;
}