#body {
    width: 400px;
    height: auto;
    margin: auto;
    list-style-type: circle;
    border: 2px solid black;
}

h2 {
    text-align: center;
}

#header {
    text-align: center;
}

a {
    color: rgb(28, 163, 213);
    font-size: 20px;
    padding-left: 20px;
}